# Dwelling stock estimates by local authority and tenure

These statistics are available from [StatsWales](https://statswales.gov.wales/Catalogue/Housing/Dwelling-Stock-Estimates/dwellingstockestimates-by-localauthority-tenure) using Microsoft's [Open Data Protocol](https://en.wikipedia.org/wiki/Open_Data_Protocol)

In [1]:
from gssutils import *

scraper = Scraper('https://statswales.gov.wales/Catalogue/'
                  'Housing/Dwelling-Stock-Estimates/dwellingstockestimates-by-localauthority-tenure')
scraper

## Dwelling Stock Estimates

Estimates of the number of dwellings in Wales by tenure and for each local authority, as at 31 March each year.

In [2]:
if len(scraper.distributions) == 0:
    from gssutils.metadata import Distribution
    dist = Distribution(scraper)
    dist.title = 'Dataset'
    dist.downloadURL = 'http://open.statswales.gov.wales/dataset/hous0501'
    dist.mediaType = 'application/json'
    scraper.distributions.append(dist)

In [3]:
table = scraper.distribution(title='Dataset').as_pandas()
from IPython.core.display import HTML
for col in table:
    if col not in ['Area_Code', 'Data', 'Area_SortOrder', 'RowKey', 'PartitionKey',
                   'Tenure_SortOrder', 'Year_Code', 'Year_SortOrder']:
        table[col] = table[col].astype('category')
        display(HTML(f'<h3>{col}</h3>'))
        display(table[col].cat.categories)
table

Index(['Blaenau Gwent', 'Bridgend', 'Caerphilly', 'Cardiff', 'Carmarthenshire',
       'Ceredigion', 'Conwy', 'Denbighshire', 'Flintshire', 'Gwynedd',
       'Isle of Anglesey', 'Merthyr Tydfil', 'Monmouthshire',
       'Neath Port Talbot', 'Newport', 'Pembrokeshire', 'Powys',
       'Rhondda Cynon Taf', 'Swansea', 'Torfaen', 'Vale of Glamorgan', 'Wales',
       'Wrexham'],
      dtype='object')

Index(['',
       'LA stock transferred to Bron Afon Community Housing RSL 1 April 2008',
       'LA stock transferred to Cartrefi Conwy RSL 29 September 2008',
       'LA stock transferred to Cartrefi Cymunedol Gwynedd RSL 12 April 2010',
       'LA stock transferred to Merthyr Valleys Homes RSL 20 March 2009',
       'LA stock transferred to Monmouthshire Housing RSL 17 January 2008',
       'LA stock transferred to NPT Homes RSL 5 March 2011',
       'LA stock transferred to Newport City Homes RSL 9 March 2009',
       'LA stock transferred to RCT Homes RSL 10 December 2007',
       'LA stock transferred to Tai Calon Community Housing RSL 26 July 2010',
       'LA stock transferred to Tai Ceredigion RSL 30 November 2009',
       'LA stock transferred to Valleys to Coast RSL 12 September 2003'],
      dtype='object')

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

Index(['All tenures (Number)', 'Local Authority (%)',
       'Local Authority (Number)', 'Owner occupied (%)',
       'Owner occupied (Number)', 'Owner occupied/Privately rented (Number)',
       'Privately rented (%)', 'Privately rented (Number)',
       'Registered Social Landlord (%)',
       'Registered Social Landlord (Number)'],
      dtype='object')

Index(['', 'Includes, owner-occupied, intermediate and other tenures.',
       'Prior to 2008-09 data are from the Housing Revenue Account Subsidy (HRAS) second advance form. &#10;For 2008-09 onwards, data are from the annual Social Housing Stock return from local authorities.&#10;&#10;Data has been affected by the large scale voluntary stock transfers of local authority stock to registered social landlords&#10;&#10;Excludes intermediate and other tenures not at social rents',
       'Prior to 2008-09 data are from the annual RSL1 to 4 forms from registered social landlords. &#10;For 2008-09 onwards, data are from the annual Social Housing Stock return from registered social landlords.&#10;&#10;Data has been affected by the large scale voluntary stock transfers of local authority stock to registered social landlords&#10;&#10;Includes Abbeyfield Societies, Almshouse Charities and Co-ownership societies. &#10;Excludes rented stock owned by English registered social landlords. These dwellings appear in the owner-occupied, privately rented and other tenures category.&#10;&#10;Excludes intermediate and other tenures not at social rents'],
      dtype='object')

Index(['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06',
       '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12',
       '2012-13', '2013-14', '2014-15', '2015-16', '2016-17'],
      dtype='object')

,Area_Code,Area_ItemName_ENG,Area_ItemNotes_ENG,Area_SortOrder,Data,PartitionKey,RowKey,Tenure_Code,Tenure_ItemName_ENG,Tenure_ItemNotes_ENG,Tenure_SortOrder,Year_Code,Year_ItemName_ENG,Year_SortOrder
0,512,Isle of Anglesey,,2,4664.000000,,0,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
1,514,Gwynedd,LA stock transferred to Cartrefi Cymunedol Gwy...,3,7308.000000,,1,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
2,516,Conwy,LA stock transferred to Cartrefi Conwy RSL 29 ...,4,4268.000000,,2,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
3,518,Denbighshire,,5,4141.000000,,3,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
4,520,Flintshire,,6,8534.000000,,4,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
5,522,Wrexham,,7,13630.000000,,5,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
6,524,Powys,,8,6196.000000,,6,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
7,526,Ceredigion,LA stock transferred to Tai Ceredigion RSL 30 ...,9,2593.000000,,7,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
8,528,Pembrokeshire,,10,6761.000000,,8,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
9,530,Carmarthenshire,,11,10730.000000,,9,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
10,532,Swansea,,12,16176.000000,,10,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
11,534,Neath Port Talbot,LA stock transferred to NPT Homes RSL 5 March ...,13,10780.000000,,11,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
12,536,Bridgend,LA stock transferred to Valleys to Coast RSL 1...,14,7291.000000,,12,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
13,538,Vale of Glamorgan,,15,4683.000000,,13,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
14,540,Rhondda Cynon Taf,LA stock transferred to RCT Homes RSL 10 Decem...,17,12984.000000,,14,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
15,542,Merthyr Tydfil,LA stock transferred to Merthyr Valleys Homes ...,18,5250.000000,,15,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
16,544,Caerphilly,,19,12705.000000,,16,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
17,545,Blaenau Gwent,LA stock transferred to Tai Calon Community Ho...,20,8179.000000,,17,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
18,546,Torfaen,LA stock transferred to Bron Afon Community Ho...,21,9910.000000,,18,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
19,548,Monmouthshire,LA stock transferred to Monmouthshire Housing ...,22,3957.000000,,19,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
20,550,Newport,LA stock transferred to Newport City Homes RSL...,23,11091.000000,,20,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
21,552,Cardiff,,16,16024.000000,,21,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
22,596,Wales,,1,187855.000000,,22,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200001,2000-01,5
23,512,Isle of Anglesey,,2,4564.000000,,23,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200102,2001-02,6
24,514,Gwynedd,LA stock transferred to Cartrefi Cymunedol Gwy...,3,7136.000000,,24,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200102,2001-02,6
25,516,Conwy,LA stock transferred to Cartrefi Conwy RSL 29 ...,4,4156.000000,,25,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200102,2001-02,6
26,518,Denbighshire,,5,4044.000000,,26,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200102,2001-02,6
27,520,Flintshire,,6,8390.000000,,27,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200102,2001-02,6
28,522,Wrexham,,7,13325.000000,,28,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200102,2001-02,6
29,524,Powys,,8,6046.000000,,29,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,1,200102,2001-02,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824,542,Merthyr Tydfil,LA stock transferred to Merthyr Valleys Homes ...,18,15.021233,,2824,10,Privately rented (%),,9,201516,2015-16,20
2825,544,Caerphilly,,19,10.279610,,2825,10,Privately rented (%),,9,201516,2015-16,20
2826,545,Blaenau Gwent,LA stock transferred to Tai Calon Community Ho...,20,14.780823,,2826,10,Privately rented (%),,9,201516,2015-16,20
2827,546,Torfaen,LA stock transferred to Bron Afon Community Ho...,21,9.272828,,2827,10,Privately rented (%),,9,201516,2015-16,20
2828,548,Monmouthshire,LA stock transferred to Monmouthshire Housing ...,22,9.629534,,2828,10,Privately rented (%),,9,201516,2015-16,20
2829,550,Newport,LA stock transferred to Newport City Homes RSL...,23,15.298331,,2829,10,Privately rented (%),,9,201516,2015-16,20
2830,552,Cardiff,,16,16.927271,,2830,10,Privately rented (%),,9,201516,2015-16,20
2831,512,Isle of Anglesey,,2,13.487500,,2831,10,Privately rented (%),,9,201617,2016-17,21
2832,514,Gwynedd,LA stock transferred to Cartrefi Cymunedol Gwy...,3,16.223491,,2832,10,Privately rented (%),,9,201617,2016-17,21
2833,516,Conwy,LA stock transferred to Cartrefi Conwy RSL 29 ...,4,16.206724,,2833,10,Privately rented (%),,9,201617,2016-17,21
2834,518,Denbighshire,,5,16.560090,,2834,10,Privately rented (%),,9,201617,2016-17,21
2835,520,Flintshire,,6,11.084666,,2835,10,Privately rented (%),,9,201617,2016-17,21
2836,522,Wrexham,,7,12.819346,,2836,10,Privately rented (%),,9,201617,2016-17,21
2837,524,Powys,,8,18.030104,,2837,10,Privately rented (%),,9,201617,2016-17,21
2838,526,Ceredigion,LA stock transferred to Tai Ceredigion RSL 30 ...,9,19.046874,,2838,10,Privately rented (%),,9,201617,2016-17,21
2839,528,Pembrokeshire,,10,11.997869,,2839,10,Privately rented (%),,9,201617,2016-17,21
2840,530,Carmarthenshire,,11,11.364177,,2840,10,Privately rented (%),,9,201617,2016-17,21
2841,532,Swansea,,12,17.538711,,2841,10,Privately rented (%),,9,201617,2016-17,21
2842,534,Neath Port Talbot,LA stock transferred to NPT Homes RSL 5 March ...,13,9.917342,,2842,10,Privately rented (%),,9,201617,2016-17,21
2843,536,Bridgend,LA stock transferred to Valleys to Coast RSL 1...,14,12.795222,,2843,10,Privately rented (%),,9,201617,2016-17,21
2844,538,Vale of Glamorgan,,15,9.157035,,2844,10,Privately rented (%),,9,201617,2016-17,21
2845,552,Cardiff,,16,21.696755,,2845,10,Privately rented (%),,9,201617,2016-17,21
2846,540,Rhondda Cynon Taf,LA stock transferred to RCT Homes RSL 10 Decem...,17,13.340831,,2846,10,Privately rented (%),,9,201617,2016-17,21
2847,542,Merthyr Tydfil,LA stock transferred to Merthyr Valleys Homes ...,18,9.878543,,2847,10,Privately rented (%),,9,201617,2016-17,21
2848,544,Caerphilly,,19,11.373319,,2848,10,Privately rented (%),,9,201617,2016-17,21
2849,545,Blaenau Gwent,LA stock transferred to Tai Calon Community Ho...,20,13.482641,,2849,10,Privately rented (%),,9,201617,2016-17,21
2850,546,Torfaen,LA stock transferred to Bron Afon Community Ho...,21,8.934655,,2850,10,Privately rented (%),,9,201617,2016-17,21
2851,548,Monmouthshire,LA stock transferred to Monmouthshire Housing ...,22,9.512506,,2851,10,Privately rented (%),,9,201617,2016-17,21
2852,550,Newport,LA stock transferred to Newport City Homes RSL...,23,16.219348,,2852,10,Privately rented (%),,9,201617,2016-17,21
2853,596,Wales,,1,14.330380,,2853,10,Privately rented (%),,9,201617,2016-17,21

In [4]:
areas = table[['Area_Code', 'Area_ItemName_ENG']].drop_duplicates()
areas.set_index('Area_Code', inplace=True)
table.drop(columns=['Area_ItemName_ENG', 'Area_SortOrder', 'PartitionKey', 'RowKey',
                    'Tenure_SortOrder', 'Year_ItemName_ENG', 'Year_SortOrder'],
           inplace=True)
areas

           Area_ItemName_ENG
Area_Code
512         Isle of Anglesey
514                  Gwynedd
516                    Conwy
518             Denbighshire
520               Flintshire
522                  Wrexham
524                    Powys
526               Ceredigion
528            Pembrokeshire
530          Carmarthenshire
532                  Swansea
534        Neath Port Talbot
536                 Bridgend
538        Vale of Glamorgan
540        Rhondda Cynon Taf
542           Merthyr Tydfil
544               Caerphilly
545            Blaenau Gwent
546                  Torfaen
548            Monmouthshire
550                  Newport
552                  Cardiff
596                    Wales

In [5]:
wales_gss_codes = pd.read_csv('wales-gss.csv', index_col='Label')
areas = areas.join(wales_gss_codes, on='Area_ItemName_ENG')

In [6]:
table['Period'] = table['Year_Code'].map(
    lambda x: f'gregorian-interval/{str(x)[:4]}-03-31T00:00:00/P1Y'
)
table.drop(columns=['Year_Code'], inplace=True)
table

,Area_Code,Area_ItemNotes_ENG,Data,Tenure_Code,Tenure_ItemName_ENG,Tenure_ItemNotes_ENG,Period
0,512,,4664.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
1,514,LA stock transferred to Cartrefi Cymunedol Gwy...,7308.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
2,516,LA stock transferred to Cartrefi Conwy RSL 29 ...,4268.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
3,518,,4141.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
4,520,,8534.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
5,522,,13630.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
6,524,,6196.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
7,526,LA stock transferred to Tai Ceredigion RSL 30 ...,2593.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
8,528,,6761.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
9,530,,10730.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
10,532,,16176.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
11,534,LA stock transferred to NPT Homes RSL 5 March ...,10780.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
12,536,LA stock transferred to Valleys to Coast RSL 1...,7291.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
13,538,,4683.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
14,540,LA stock transferred to RCT Homes RSL 10 Decem...,12984.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
15,542,LA stock transferred to Merthyr Valleys Homes ...,5250.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
16,544,,12705.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
17,545,LA stock transferred to Tai Calon Community Ho...,8179.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
18,546,LA stock transferred to Bron Afon Community Ho...,9910.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
19,548,LA stock transferred to Monmouthshire Housing ...,3957.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
20,550,LA stock transferred to Newport City Homes RSL...,11091.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
21,552,,16024.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
22,596,,187855.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y
23,512,,4564.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y
24,514,LA stock transferred to Cartrefi Cymunedol Gwy...,7136.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y
25,516,LA stock transferred to Cartrefi Conwy RSL 29 ...,4156.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y
26,518,,4044.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y
27,520,,8390.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y
28,522,,13325.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y
29,524,,6046.000000,1,Local Authority (Number),Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y
...,...,...,...,...,...,...,...
2824,542,LA stock transferred to Merthyr Valleys Homes ...,15.021233,10,Privately rented (%),,gregorian-interval/2015-03-31T00:00:00/P1Y
2825,544,,10.279610,10,Privately rented (%),,gregorian-interval/2015-03-31T00:00:00/P1Y
2826,545,LA stock transferred to Tai Calon Community Ho...,14.780823,10,Privately rented (%),,gregorian-interval/2015-03-31T00:00:00/P1Y
2827,546,LA stock transferred to Bron Afon Community Ho...,9.272828,10,Privately rented (%),,gregorian-interval/2015-03-31T00:00:00/P1Y
2828,548,LA stock transferred to Monmouthshire Housing ...,9.629534,10,Privately rented (%),,gregorian-interval/2015-03-31T00:00:00/P1Y
2829,550,LA stock transferred to Newport City Homes RSL...,15.298331,10,Privately rented (%),,gregorian-interval/2015-03-31T00:00:00/P1Y
2830,552,,16.927271,10,Privately rented (%),,gregorian-interval/2015-03-31T00:00:00/P1Y
2831,512,,13.487500,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2832,514,LA stock transferred to Cartrefi Cymunedol Gwy...,16.223491,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2833,516,LA stock transferred to Cartrefi Conwy RSL 29 ...,16.206724,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2834,518,,16.560090,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2835,520,,11.084666,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2836,522,,12.819346,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2837,524,,18.030104,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2838,526,LA stock transferred to Tai Ceredigion RSL 30 ...,19.046874,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2839,528,,11.997869,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2840,530,,11.364177,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2841,532,,17.538711,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2842,534,LA stock transferred to NPT Homes RSL 5 March ...,9.917342,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2843,536,LA stock transferred to Valleys to Coast RSL 1...,12.795222,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2844,538,,9.157035,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2845,552,,21.696755,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2846,540,LA stock transferred to RCT Homes RSL 10 Decem...,13.340831,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2847,542,LA stock transferred to Merthyr Valleys Homes ...,9.878543,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2848,544,,11.373319,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2849,545,LA stock transferred to Tai Calon Community Ho...,13.482641,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2850,546,LA stock transferred to Bron Afon Community Ho...,8.934655,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2851,548,LA stock transferred to Monmouthshire Housing ...,9.512506,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2852,550,LA stock transferred to Newport City Homes RSL...,16.219348,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y
2853,596,,14.330380,10,Privately rented (%),,gregorian-interval/2016-03-31T00:00:00/P1Y

In [7]:
table.rename(columns={
    'Tenure_ItemName_ENG': 'Tenure'
}, inplace=True)
table['Measure Type'] = table['Tenure'].map(
    lambda x: 'Count' if x.endswith('(Number)') else 'Percentage'
)
table['Unit'] = 'dwellings'
table['Tenure'] = table['Tenure'].map(
    lambda x: pathify(x[:-len(' (Number)')] if x.endswith(' (Number)') else
                      x[:-len(' (%}')] if x.endswith(' (%)') else x).replace('/','-')
    if x != 'All tenures (Number)' else 'total')
table

,Area_Code,Area_ItemNotes_ENG,Data,Tenure_Code,Tenure,Tenure_ItemNotes_ENG,Period,Measure Type,Unit
0,512,,4664.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
1,514,LA stock transferred to Cartrefi Cymunedol Gwy...,7308.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
2,516,LA stock transferred to Cartrefi Conwy RSL 29 ...,4268.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
3,518,,4141.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
4,520,,8534.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
5,522,,13630.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
6,524,,6196.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
7,526,LA stock transferred to Tai Ceredigion RSL 30 ...,2593.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
8,528,,6761.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
9,530,,10730.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
10,532,,16176.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
11,534,LA stock transferred to NPT Homes RSL 5 March ...,10780.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
12,536,LA stock transferred to Valleys to Coast RSL 1...,7291.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
13,538,,4683.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
14,540,LA stock transferred to RCT Homes RSL 10 Decem...,12984.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
15,542,LA stock transferred to Merthyr Valleys Homes ...,5250.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
16,544,,12705.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
17,545,LA stock transferred to Tai Calon Community Ho...,8179.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
18,546,LA stock transferred to Bron Afon Community Ho...,9910.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
19,548,LA stock transferred to Monmouthshire Housing ...,3957.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
20,550,LA stock transferred to Newport City Homes RSL...,11091.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
21,552,,16024.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
22,596,,187855.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings
23,512,,4564.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings
24,514,LA stock transferred to Cartrefi Cymunedol Gwy...,7136.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings
25,516,LA stock transferred to Cartrefi Conwy RSL 29 ...,4156.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings
26,518,,4044.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings
27,520,,8390.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings
28,522,,13325.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings
29,524,,6046.000000,1,local-authority,Prior to 2008-09 data are from the Housing Rev...,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings
...,...,...,...,...,...,...,...,...,...
2824,542,LA stock transferred to Merthyr Valleys Homes ...,15.021233,10,privately-rented,,gregorian-interval/2015-03-31T00:00:00/P1Y,Percentage,dwellings
2825,544,,10.279610,10,privately-rented,,gregorian-interval/2015-03-31T00:00:00/P1Y,Percentage,dwellings
2826,545,LA stock transferred to Tai Calon Community Ho...,14.780823,10,privately-rented,,gregorian-interval/2015-03-31T00:00:00/P1Y,Percentage,dwellings
2827,546,LA stock transferred to Bron Afon Community Ho...,9.272828,10,privately-rented,,gregorian-interval/2015-03-31T00:00:00/P1Y,Percentage,dwellings
2828,548,LA stock transferred to Monmouthshire Housing ...,9.629534,10,privately-rented,,gregorian-interval/2015-03-31T00:00:00/P1Y,Percentage,dwellings
2829,550,LA stock transferred to Newport City Homes RSL...,15.298331,10,privately-rented,,gregorian-interval/2015-03-31T00:00:00/P1Y,Percentage,dwellings
2830,552,,16.927271,10,privately-rented,,gregorian-interval/2015-03-31T00:00:00/P1Y,Percentage,dwellings
2831,512,,13.487500,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2832,514,LA stock transferred to Cartrefi Cymunedol Gwy...,16.223491,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2833,516,LA stock transferred to Cartrefi Conwy RSL 29 ...,16.206724,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2834,518,,16.560090,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2835,520,,11.084666,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2836,522,,12.819346,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2837,524,,18.030104,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2838,526,LA stock transferred to Tai Ceredigion RSL 30 ...,19.046874,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2839,528,,11.997869,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2840,530,,11.364177,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2841,532,,17.538711,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2842,534,LA stock transferred to NPT Homes RSL 5 March ...,9.917342,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2843,536,LA stock transferred to Valleys to Coast RSL 1...,12.795222,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2844,538,,9.157035,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2845,552,,21.696755,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2846,540,LA stock transferred to RCT Homes RSL 10 Decem...,13.340831,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2847,542,LA stock transferred to Merthyr Valleys Homes ...,9.878543,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2848,544,,11.373319,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2849,545,LA stock transferred to Tai Calon Community Ho...,13.482641,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2850,546,LA stock transferred to Bron Afon Community Ho...,8.934655,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2851,548,LA stock transferred to Monmouthshire Housing ...,9.512506,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2852,550,LA stock transferred to Newport City Homes RSL...,16.219348,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings
2853,596,,14.330380,10,privately-rented,,gregorian-interval/2016-03-31T00:00:00/P1Y,Percentage,dwellings

In [8]:
table['Geography'] = table['Area_Code'].map(
    lambda x: areas.loc[int(x)]['Code']
)
table.drop(columns=['Area_Code', 'Area_ItemNotes_ENG', 'Tenure_Code', 'Tenure_ItemNotes_ENG'],
           inplace=True)
table.rename(columns={'Data': 'Value'}, inplace=True)
table = table[table['Measure Type'] != 'Percentage']
table['Value'] = table['Value'].astype(int)
table

/home/alex/.virtualenvs/databaker/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Value,Tenure,Period,Measure Type,Unit,Geography
0,4664,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000001
1,7308,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000002
2,4268,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000003
3,4141,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000004
4,8534,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000005
5,13630,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000006
6,6196,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000023
7,2593,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000008
8,6761,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000009
9,10730,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000010
10,16176,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000011
11,10780,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000012
12,7291,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000013
13,4683,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000014
14,12984,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000016
15,5250,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000024
16,12705,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000018
17,8179,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000019
18,9910,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000020
19,3957,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000021
20,11091,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000022
21,16024,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W06000015
22,187855,local-authority,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,dwellings,W92000004
23,4564,local-authority,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings,W06000001
24,7136,local-authority,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings,W06000002
25,4156,local-authority,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings,W06000003
26,4044,local-authority,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings,W06000004
27,8390,local-authority,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings,W06000005
28,13325,local-authority,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings,W06000006
29,6046,local-authority,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,dwellings,W06000023
...,...,...,...,...,...,...
2316,26714,total,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,dwellings,W06000024
2317,78714,total,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,dwellings,W06000018
2318,32489,total,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,dwellings,W06000019
2319,41110,total,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,dwellings,W06000020
2320,41259,total,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,dwellings,W06000021
2321,66007,total,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,dwellings,W06000022
2322,1412667,total,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,dwellings,W92000004
2323,34696,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000001
2324,61887,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000002
2325,57203,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000003
2326,43208,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000004
2327,67747,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000005
2328,60430,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000006
2329,64582,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000023
2330,35273,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000008
2331,62114,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000009
2332,87317,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000010
2333,111289,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000011
2334,65415,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000012
2335,63762,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000013
2336,57719,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000014
2337,151200,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000015
2338,107587,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000016
2339,26855,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000024
2340,78890,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000018
2341,32570,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000019
2342,41257,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000020
2343,41479,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000021
2344,66891,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W06000022
2345,1419371,total,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,dwellings,W92000004

In [9]:
out = Path('out')
out.mkdir(exist_ok=True, parents=True)

table.to_csv(out / 'observations.csv', index = False)

In [10]:
schema = CSVWSchema('https://ons-opendata.github.io/ref_housing/')
schema.create(out / 'observations.csv', out / 'observations.csv-schema.json')

In [11]:
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())